.sign-button{
    margin-bottom: 20px;
    font-size: 20px;
}
img {
    border-radius: 8px;
    max-width: 400px;
    max-height: 700px;
  }
.header-buttons-container{
    
}

.hotel-picture{

}

.frontpage-container{
    width:100%;
}

